:root {
    --board-color: black;
    --clueCell-color: grey;
    --board-border-color: grey;
    --board-background-color: pink;
    --board-background-color-active: white;
    --inputTable-background-color: white;
    --inputTable-background-color-active: yellowgreen;
    --inputTable-color: grey;
    --inputTable-color-active: black;
    --invalidMove-color: red;
}

body {
    background-color: #bbb;
}

.board {
    border: 5px solid var(--board-border-color);
    background-color: var(--board-background-color);
    border-spacing: 0;
}


.inputCell,
.cell {
    text-align: center;
    padding: 0;
    height: 40px;
    width: 40px;
    border: 1px solid var(--board-border-color);
}

.clueCell {
    color: var(--clueCell-color);

}

.activeCell {
    background-color: var(--board-background-color-active);
}

.inputCell {
    border: 1px solid var(--board-border-color);
}

.inputTable {
    color: var(--inputTable-color);
    background-color: var(--inputTable-background-color);
    border: 3px solid var(--board-border-color);
    border-spacing: 0;
}

.inputTable.inputTableActive {
    color: var(--inputTable-color-active);
    background-color: var(--inputTable-background-color-active);
}

.specialBottomBorder {
    border-bottom: 3px solid var(--board-border-color);
} 

.specialRightBorder {
    border-right: 3px solid var(--board-border-color);
}

.invalidMove {
    color: var(--invalidMove-color);
}