:root {
    --table-color: black;
    --clueCell-color: grey;
    --table-border-color: grey;
    --table-background-color: pink;
    --table-background-color-active: white;
    --inputTable-background-color: white;
    --inputTable-background-color-active: yellowgreen;
    --inputTable-color: grey;
    --inputTable-color-active: black;
}

.mainTable {
    border: 5px solid var(--table-border-color);
    background-color: var(--table-background-color);
    border-spacing: 0;
}


.inputCell,
.cell {
    text-align: center;
    padding: 0;
    height: 40px;
    width: 40px;
    border: 1px solid var(--table-border-color);
}

.clueCell {
    color: var(--clueCell-color);

}

.activeCell {
    background-color: var(--table-background-color-active);
}

.inputCell {
    border: 1px solid var(--table-border-color);
}

.inputTable {
    color: var(--inputTable-color);
    background-color: var(--inputTable-background-color);
    border: 3px solid var(--table-border-color);
    border-spacing: 0;
}

.inputTable.inputTableActive {
    color: var(--inputTable-color-active);
    background-color: var(--inputTable-background-color-active);
}

.row:nth-child(3) .cell,
.row:nth-child(6) .cell {
    border-bottom: 3px solid var(--table-border-color);
} 

.cell:nth-child(3),
.cell:nth-child(6) {
    border-right: 3px solid var(--table-border-color);
}