:root {
    --clueCell-color: grey;
    --board-border-color: #b36262;
    --board-background-color: #d4dbe0;
    /* --board-background-color-active: rgb(229, 233, 236); */
    --board-background-color-active: #d3ced1;
    --board-background-color-active: #e1e1e1;
    --board-background-color-active: white;
    --inputTable-background-color: var(--board-background-color);
    /* --inputTable-background-color-active: var(--board-background-color-active); */
    --inputTable-background-color-active: #d4cecd;
    --inputTable-color: grey;
    --inputTable-color-active: black;
    --invalidMove-color: #f35b2d;
    --checkerboardRegionCell-color: #d4cecd;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--board-background-color);
    /* height: 100%; */
    /* overflow: hidden; */
}

#container {
    margin: 0 auto;
    padding: 0;
    width: 96%;
    /* padding-top: 1.8vw; */
    padding-top: 1.8vmin;
    /* padding-top: 0.4rem; */
    font-size: 6.0vmin;
    /* font-size: 6.0vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#board {
    margin: 0 auto;
    border: 2px solid var(--board-border-color);
    background-color: var(--board-background-color);
    border-spacing: 0;
    width: 100%;
}

.inputTable, 
#logo {
    width: 100%;
    margin: 1.2rem auto;
    color: var(--inputTable-color);
    background-color: var(--inputTable-background-color);
    border: 2px solid var(--board-border-color);
    border-bottom: 1px solid var(--board-border-color);
    /* border-right: 1px solid var(--board-border-color); */
    border-spacing: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* display: table; */
}

.inputCell,
.cell,
#logo li {
    text-align: center;
    padding: 0;
    height: 11.0vmin;
    /* width: 11.0vmin; */
    width: 8.0vmin;
    border-right: 1px solid var(--board-border-color);
    border-bottom: 1px solid var(--board-border-color);
}


.inputCell,
#logo li {
    flex-basis: 10%;
    /* vertical-align: middle; */
    /* display: table-cell; */
    list-style-type: none;
    /* border-right: 1px solid var(--board-border-color); */
    /* border-top: 2px solid var(--board-border-color); */
    /* border-bottom: 2px solid var(--board-border-color); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputCell:active,
#logo li:last-child:active {
    text-decoration: underline;
    background-color: var(--inputTable-color);
}

.cell:nth-last-child(1),
#logo li:nth-last-child(1),
.inputCell:nth-last-child(1) {
    border-right: 0;
}

.row:nth-last-child(1) .cell {
    border-bottom: 0;
}

.checkerboardRegionCell {
    background-color: var(--checkerboardRegionCell-color);
}

.clueCell {
    color: var(--clueCell-color);

}

.activeCell {
    background-color: var(--board-background-color-active);
}

.inputTable.inputTableActive {
    color: var(--inputTable-color-active);
    background-color: var(--inputTable-background-color-active);
}


.row:nth-child(3) .cell, .row:nth-child(6) .cell {
    border-bottom: 2px solid var(--board-border-color);
} 

.cell:nth-child(3), .cell:nth-child(6) {
    border-right: 2px solid var(--board-border-color);
}


.invalidMove {
    color: var(--invalidMove-color);
}

.gameOver {
    color: yellow;
}

.newGame,
#eraseBtn {
    color: var(--board-border-color);
    font-size: 0.6rem;
}


/* @media (min-width: 450px) and (orientation: portrait) { */
    @media (min-width: 450px) {
        #container {
            font-size: 25px;
        }
    
        #board, .inputTable, #logo {
            max-width: 450px;
        }
        
        .inputCell, 
        .cell,
        #logo li {
            /* max-width: 35px; */
            height: 50px;
        }
    }

@media (orientation: landscape) {
    #container {
        padding: 0;
        /* width: 90vh; */
        /* height: 100vh; */
        height: 100vh;
        width: 80%;
        /* padding: 2vw; */
        /* padding-top: 1.8vw; */
        /* flex-direction: row; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #container2 {
        width: 90vh;
        margin: 0 auto;
        position: relative;
    }





    .inputTable, 
    #logo {
        margin: 0;
        position: absolute;
        right: -20%;
        bottom: 0;
        width: 10.5vh;
        height: 100%;
        flex-direction: column;

    }

    #logo {
        left: -20%;
    }

    hr {
        display: none;
    }

    .inputCell,
    .cell,
    #logo li {
        text-align: center;
        padding: 0;
        height: 10.0vmin;   
        /* height: 10.0vh;    */
    }

    .inputCell,
    #logo li {
        width: 100%; 
    }

    .inputCell,
    .cell {
        border-right: 1px solid var(--board-border-color);
    }

    .cell {
        border-bottom: 1px solid var(--board-border-color);
    }

    .inputCell,
    #logo li {
        border-right: 0;
    }

    .inputCell:nth-last-child(1),
    #logo li:nth-last-child(1) {
        border-bottom: 0;
    }

    .inputTable,
    #logo {
        border-bottom: 2px solid var(--board-border-color);
    }
}





/* @media (min-width: 700px) and (orientation: landscape) {
    #container {
        padding: 0;
        width: 85vh;
        padding-top: 1.8vw;
    }
    
    #board {
        height: 96%;
        width: 96%;
    }

    .inputCell,
    .cell,
    #logo li {
        text-align: center;
        padding: 0;
        height: 10.0vh;    
        border-bottom: 1px solid var(--board-border-color);
    } 
} */

/*

@media only screen and (min-width: 316px) {
    #container {
        font-size: 19px;
    }
    .cell {
        height: 2.1rem;
    }
}

@media only screen and (min-width: 334px) {
    #container {
        font-size: 21px;
        width: 95%;
        padding-top: 0.5rem;


    }
    .cell {
        height: 2.25rem;

    }
}

@media only screen and (min-width: 354px) {
    #container {
        font-size: 22px;
    }
    .cell {
        height: 2.35rem;
    }
}

@media only screen and (min-width: 374px) {
    #container {
        padding-top: 0.55rem;
        font-size: 23px;
    }
    .cell {
        height: 2.45rem;
    }
}

@media only screen and (min-width: 412px) {
    #container {
        padding-top: 0.65rem;

        font-size: 24px;
    }
    .cell {
        width: 44px;
        height: 44px;
    }
}
*/



/*
@media only screen and (min-width: 316px) {
    #container {
        font-size: 19px;
    }
    .cell {
        height: 2.1rem;
    }
}

@media only screen and (min-width: 334px) {
    #container {
        font-size: 21px;
        width: 95%;
        padding-top: 0.5rem;


    }
    .cell {
        height: 2.25rem;

    }
}

@media only screen and (min-width: 354px) {
    #container {
        font-size: 22px;
    }
    .cell {
        height: 2.35rem;
    }
}

@media only screen and (min-width: 374px) {
    #container {
        padding-top: 0.55rem;
        font-size: 23px;
    }
    .cell {
        height: 2.45rem;
    }
}

@media only screen and (min-width: 412px) {
    #container {
        padding-top: 0.65rem;

        font-size: 24px;
    }
    .cell {
        width: 44px;
        height: 44px;
    }
} */