:root {
    --clueCell-color: #959595;
    --board-border-color: #b36262;
    --board-background-color: #d4dbe0d8;
    --board-background-color-active: #fafafa;
    --inputTable-background-color: var(--board-background-color);
    --inputTable-background-color-active: #d4cecd;
    --inputTable-color: var(--clueCell-color);
    --inputTable-color-active: var(--logo-color);
    --newGame-active-color: var(--checkerboardBoxCell-color);
    --invalidMove-color: var(--board-border-color);
    --checkerboardBoxCell-color: #d4cecd;
    --newGame-hover-color: var(--checkerboardBoxCell-color);
    --logo-color: #333;
    --cell-hover-color: #b3626209;
    --inputTable-hover-color: #b362621a;
    --checkboard-hover-color: #b3626225;
    --game-over-color: var(--board-background-color-active);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    cursor: text;
    background-color: var(--board-background-color);
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--logo-color);
    /* height: 100%; */
    /* overflow: hidden; */
}

#container {
    margin: 0 auto;
    padding: 0;
    width: 96%;
    padding-top: 1.8vmin;
    font-size: 2.9vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#board {
    margin: 0 auto;
    border: 2px solid var(--board-border-color);
    background-color: var(--board-background-color);
    border-spacing: 0;
    width: 100%;
}

.inputTable,
#logo {
    width: 100%;
    margin: 1.2rem auto;
    background-color: var(--inputTable-background-color);
    border: 2px solid var(--board-border-color);
    border-bottom: 1px solid var(--board-border-color);
    /* border-right: 1px solid var(--board-border-color); */
    border-spacing: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* display: table; */
}

.inputTable {
    color: var(--clueCell-color);
}

#logo {
    color: var(--logo-color);
}

/* .inputTableActive {
    cursor: pointer;
    color: var(--inputTable-color-active);
} */

.inputCell,
.cell,
#logo li {
    text-align: center;
    padding: 0;
    height: 11.0vmin;
    /* width: 11.0vmin; */
    width: 8.0vmin;
    border-right: 1px solid var(--board-border-color);
    border-bottom: 1px solid var(--board-border-color);
}


.inputCell,
#logo li {
    flex-basis: 10%;
    /* vertical-align: middle; */
    /* display: table-cell; */
    list-style-type: none;
    /* border-right: 1px solid var(--board-border-color); */
    /* border-top: 2px solid var(--board-border-color); */
    /* border-bottom: 2px solid var(--board-border-color); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputTableActive .inputCell:active,
.newGame:active {
    text-decoration: none;
    background-color: var(--newGame-active-color);
    cursor: pointer;
}

.newGame:hover {
    cursor: pointer;
    /* background: var(--newGame-hover-color); */
}

.cell:nth-last-child(1),
#logo li:nth-last-child(1),
.inputCell:nth-last-child(1) {
    border-right: 0;
}

.row:nth-last-child(1) .cell {
    border-bottom: 0;
}

.checkerboardBoxCell {
    background-color: var(--checkerboardBoxCell-color);
}

.clueCell {
    color: var(--clueCell-color);
}

#board .cell:not(.clueCell) {
    cursor: pointer;
}

#board .cell:not(.clueCell):hover {
    background: var(--cell-hover-color);
}

.activeCell,
#board .cell:not(.clueCell):active,
#board .cell:not(.clueCell):active:hover {
    background-color: var(--board-background-color-active);
}

#board .checkerboardBoxCell:not(.clueCell):hover {
    background: var(--checkboard-hover-color);
}

#board .cell.activeCell:hover {
    background: var(--board-background-color-active);
}

.inputTableActive {
    color: var(--inputTable-color-active);
    cursor: pointer;
    background-color: var(--inputTable-background-color-active);
}

.inputTableActive .inputCell:hover {
    background: var(--inputTable-hover-color);
}

.row:nth-child(3) .cell, .row:nth-child(6) .cell {
    border-bottom: 2px solid var(--board-border-color);
} 

.cell:nth-child(3), .cell:nth-child(6) {
    border-right: 2px solid var(--board-border-color);
}


.invalidMove {
    color: var(--invalidMove-color);
}

.gameOver {
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--game-over-color);
    font-size: 2em;
    justify-content: center;
    padding-top: 75px;
}

.newGame,
#eraseBtn {
    color: var(--board-border-color);
    font-size: 0.6rem;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    z-index: 2;
    cursor: pointer;
  }

/* @media (min-width: 450px) and (orientation: portrait) { */
    @media (min-width: 450px) {
        #container {
            /* font-size: 25px; */
        }
    
        #board, .inputTable, #logo {
            max-width: 450px;
        }
        
        .inputCell, 
        .cell,
        #logo li {
            /* max-width: 35px; */
            height: 50px;
        }
    }


@media (orientation: landscape) {
    #container {
        padding: 0;
        /* width: 90vh; */
        /* height: 100vh; */
        height: 100vh;
        width: 80%;
        padding: 1vw;
        /* padding-top: 2vw; */
        /* flex-direction: row; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        justify-content: flex-start;

    }
    
    #innerContainer {
        width: 90vh;
        margin: 0 auto;
        position: relative;
    }


    .inputTable, 
    #logo {
        margin: 0;
        position: absolute;
        right: -20%;
        bottom: 0;
        width: 10.5vh;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;

    }

    #logo {
        left: -20%;
    }

    hr {
        display: none;
    }

    .inputCell,
    .cell,
    #logo li {
        text-align: center;
        padding: 0;
        /* height: 10.0vmin;    */
        height: 10.5vmin;   
        /* height: 10.0vh;    */
    }

    .inputCell,
    #logo li {
        height: unset;
    }

    .inputCell,
    #logo li {
        width: 100%; 
    }

    .inputCell,
    .cell {
        border-right: 1px solid var(--board-border-color);
    }

    .cell {
        border-bottom: 1px solid var(--board-border-color);
    }

    .inputCell,
    #logo li {
        border-right: 0;
    }

    .inputCell:nth-last-child(1),
    #logo li:nth-last-child(1) {
        border-bottom: 0;
    }

    .inputTable,
    #logo {
        border-bottom: 2px solid var(--board-border-color);
    }
}


@media (orientation: landscape) and (min-height: 450px) {

    #innerContainer {
        width: 420px;
    }

    .inputCell,
    .cell,
    #logo li {
        height: 47px;
        /* width: 45px; */
    }
    
    #logo,
    .inputTable {
        width: 45px;
    }
}



@media (min-width: 700px), (min-height: 700px) {
    #container {
        font-size: 20px;
    }
}